body {
  background-size: 1110px 1100px;
  background-repeat: no-repeat;
  margin-top: 0;
}

/*Conteudo especifico da página 02 - Section*/

/*GALERIA*/
.profissionais {
  display: grid;
  grid-template-columns: 360px 360px;
  grid-template-rows: 43% 50% 30%; /* aqui a altura das rows se ajusta ao padrão de altura da tela conforme o tamanho das imagens no figma*/
  padding-left: 430px;
  margin-top: 0;
  list-style-type: none;
  box-sizing: border-box;
  object-fit: contain;
}

#img-gato {
  margin: 0;
  grid-column: 1;
  grid-row: 1;
}

#img-cachorro {
  margin: 0;
  grid-column: 2;
  grid-row: 1;
}
