body {
  background-size: 1110px 1100px;
  background-color: #eef1f0;
  background-repeat: no-repeat;
}

.container {
  display: grid;
  justify-content: center;
  height: 100vh; /* Garante que o grid ocupe toda a altura da tela */
  /* 12 colunas iguais distribuindo o espaço restante */
  grid-template-columns: repeat(10, 135px);
  gap: 10px;
  grid-template-rows: repeat(5, 165px);
  /* Centraliza o layout na tela do navegador */
}

.menu-logo {
  padding-left: 120px;
}

.ind-progresso {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: end;
}
