body {
  background-size: 1110px 1100px;
  background-color: #eef1f0;
  background-repeat: no-repeat;
}

/*Conteudo especifico da página 02 - Section*/

.conteudo-animais {
  display: flex;
  flex-wrap: wrap;
  width: 720px;
}

.animais {
  display: grid;
  grid-template-columns: 269px 210px 243px;
  grid-template-rows: 285px 419px 319px;
  padding-left: 425px;
  margin-top: 0;
  width: 720px; 
  position: absolute;
  list-style-type: none;  
}

#img-calopsita {
  margin: 0;  
  grid-column: 1;
  grid-row: 1;     
}

#img-gato {
  margin: 0;
  grid-column: 1;
  grid-row: 2;    
  }

#img-cachorro {
  margin: 0;
  grid-column: 2;
  grid-row: 2;   
  }

#img-cachorro2 {
  margin: 0;  
   grid-column: 1;
  grid-row: 3;
  }

#img-coelho {
  margin: 0;  
  grid-column: 3;
  grid-row: 2;  
  }
  
#img-hamister {
  margin: 0;
  grid-column: 2;
  grid-row: 3;
  padding-left: 130px; 
  padding-top: 0;
}

#img-tartaruga {
  margin: 0;
  grid-column: 2;
  grid-row: 1;
  padding-left: 130px;  
}

/*------------------------------*/
