body {
  background-size: 1110px 1100px;
  background-color: #eef1f0;
  background-repeat: no-repeat;
}

.animais {
  position: absolute;
  padding-left: 145px;
  padding-top: 70px;
  display: flex;    
  width: 1150px;
  justify-content: space-between;
  list-style-type: none;
}

.animais-botao{  
  position: absolute;
  padding-left: 145px;
  padding-top: 180px;
  display: flex;    
  width: 1150px;
  justify-content: space-between;
  list-style-type: none;  
}

#cachorro{
 background-color: #4A675A; 
}

#gato {
margin: 0 0 0 15;
padding: 0 30 0 30;
background-color: #4A675A;
}
#aves {
margin: 0 0 0 15;
padding: 0 30 0 30;
background-color: #4A675A;
}
#outros {
margin: 0 0 0 15;
padding: 0 20 0 20;
background-color: #4A675A;
}
