body {
  background-size: 1110px 1100px;
  background-color: #eef1f0;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 200px 500px 150px;
}

.menu-logo {
  padding-left: 120px;
}

.ind-progresso {
  display: flex;
  flex: wrap;
  justify-content: space-between;
  align-items: end;
}
