body {
  background: #eef1f0;
  overflow-y: hidden; /* retira a barra de rolagem vertical*/
  max-width: 100%;    
}

.menu-logo {
  padding-left: 120px;
  padding-top: 20px;
}

.menu-logo {
  margin-left: 25px;
  grid-column: 2;
  position: absolute;
}

.container {
  display: grid;
  justify-content: center;
  height: 100vh; /* Garante que o grid ocupe toda a altura da tela */
  /* 12 colunas iguais distribuindo o espaço restante */
  grid-template-columns: repeat(10, 135px);
  gap: 10px;
  grid-template-rows: repeat(5, 165px);
  /* Centraliza o layout na tela do navegador */
  position: relative;
}

/*Linha de progresso - Header*/

.progresso{
  display: flex;
  flex-wrap: wrap;
  width: 716px;
}

.ind-progresso {
  position: absolute;
  padding-left: 160px;
  padding-top: 70px;
  display: flex;
  list-style-type: none;
  flex-flow: row;
  justify-content: space-between;
  width: 500px;
}

.linha-continua {
  border: none;
  border-top: 2px solid #C6DDD7;
  margin-top: 118px; 
  margin-right: 0px;
  width: 575px;
  position: relative;
  z-index: -1;
}

/*------------------------------*/

/*Texto Central*/
.texto-central {
  display: flex;
  flex-direction: column;
  width: 1150px;
  height: 10px;
  align-items: center;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #3e3e3e;
  margin-top: 230px;
  padding: 0 0 0 0;
}

.texto-central h1 {
  margin: 0;
  padding-bottom: 0;
  padding-top: 20px;
}

.texto-central h4 {
  font-family: Nunito, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #3e3e3e;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}
/*------------------------------*/

/*Barra inferior de cotinuidade - Footer*/
.botao-fluxo {
  position: absolute;
  display: flex;
  flex-flow: row;
  width: 400px;
  height: 100px;
  margin: 800px 400px 400px 0px;
  background-color: #4a675a;
  overflow-x: hidden;
}

.botoes {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
}

#botao-cancelar {
  margin: 30 960 30 20;
  padding: 0 10 0 10;
  border-radius: 5px;
  border-style: none;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  color: #3e3e3e;
  font-weight: 800;
}
#botao-continuar {
  margin: 30 960 30 0;
  padding: 0 10 0 10;
  border-radius: 5px;
  border-style: none;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  color: #3e3e3e;
  font-weight: 800;
}
/*------------------------------*/
