body {
  background-size: 1110px 1100px;
  background-repeat: no-repeat;
  margin-top: 0;
}
/*------------------------------*/

/* Menu de navegação*/

.menu-nav {
  display: flex;
  flex-flow: row;
  width: 1330px;
  justify-content: end;
  padding-top: 4px;
  position: relative;
  padding-left: 35px;
}

.menu-nav ul {
  display: flex;
  gap: 60px;
}

.menu-nav li {
  display: inline-block;
}

.menu-nav a {
  text-decoration: none;
  list-style: none;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  color: #2f4330;
  font-weight: 800;
  padding-left: 10px;
  padding-right: 10px;
}
/*------------------------------*/

/* Texto central de introdução ficou com as regras separadas do padrão global para ficar com altura diferente*/

.introducao-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 10px;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #3e3e3e;
  margin-top: 180px;
  padding: 10px 0 0 0;
}

.introducao h1 {
  font-family: Nunito, Arial, Helvetica, sans-serif;
  font-size: 37px;
  color: #3e3e3e;
}

.p1,
.p2 {
  font-family: Catamaran, Arial, Helvetica, sans-serif;
  font-size: 14.5px;
  color: #7a7a7a;
}

.p2 {
  padding-top: 180px;
}
/*------------------------------*/

/*Imagem principal - gatoinicial*/

.img-inicial {
  height: 100vh;
  padding-left: 430px;
}
/*------------------------------*/

/*Botão AGENDAR*/

.botao-inicial {
  background-color: transparent;
  color: #eef1f0;
  border: none;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  font-size: 20px;
  position: absolute;
  z-index: 2;
  margin-top: 60px;
  margin-left: 15px;
}

#circulo-botao-frente {
  position: absolute;
  z-index: 1;
  background-color: #4a675a;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 25px;
}

#circulo-botao-fundo {
  position: absolute;
  background-color: #7a9488;
  width: 98px;
  height: 98px;
  border-radius: 50%;
  margin-left: 40px;
  margin-top: 25px;
}
/*------------------------------*/

/*Footer - Contatos*/

.contato-itens ul {
  display: flex;
  padding-left: 30px;
  padding-top: 10px;
  list-style-type: none;
}
.contato-itens li {
  padding-left: 50px;
}

.contato-itens ul a {
  text-decoration: none;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  font-size: 14px;
  align-items: center;
  padding: 5px 50px 0 10px;
  color: #eef1f0;
}
/*------------------------------*/
